@model IEnumerable<Proyecto2020Web.Models.CuentasAhorro>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCuentaAhorroId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDeCuenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saldo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCuentaAhorroId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDeCuenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saldo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
